/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    padding-top: 35px;
    padding-left: 10px;
}

.profil {
    background-color: #31363b;
    box-shadow: 5px 5px 5px slategrey;
    width: 250px;
}

.hlavicka {
    margin-bottom: -0.5rem;
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding-top: 2px;
    padding-left: 5px;
}

.obsah {
    background-color: #31363b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: #bdc3c7;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bdc3c7;
    width: 250px;
}

.logo {
    position: relative;
    top: 20px;
    left: -5rem;
    border: 2px solid #b92e81;
    border-radius: 50%;
    background-color: #b92e81;
}

.odkazy {
    background-color: #31363b;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 250px;
}

.portfolio {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdc3c7;
}

.facebook, .twitter {
    display: inline-block;
    margin: 10px 10px;
    text-align: center;
}

.facebook {
    border-right: 1px solid #bdc3c7;
    padding-right: 10px;
}

.odkazy a {
    color: white;
    text-decoration: none;
}

.portfolio a:hover { 
    background-color: #e74c3c;
}

.facebook a:hover {
    background-color: #3b5998;
}

.twitter a:hover {
    background-color: #1da1f2;
}

